
<svelte:head>
	<title>{status}</title>
</svelte:head>

<h1>{status}</h1>

<p>We are sorry, we have an unexpected error.</p> 
<!-- <p>Please close the application and start it again when you are online.</p> -->
You can try to <button on:click={goHome}>reload</button> the application.

{#if error.message}
    <br>
    <br>
    <h3>Details:</h3>
    <p>{error.message}</p>
{/if}

{#if dev && error.stack}
	<pre>{error.stack}</pre>
{/if}

<script>
export let status
export let error

const dev = process.env.NODE_ENV === 'development'
console.error(error)

const reload = () => window.location.reload()
const goHome = () => location.href = '/'

</script>

<style>
	h1, p {
		margin: 0 auto;
	}

	h1 {
		font-size: 2.8em;
		font-weight: 700;
		margin: 0 0 0.5em 0;
	}

	p {
		margin: 1em auto;
	}

	@media (min-width: 480px) {
		h1 {
			font-size: 4em;
		}
	}
</style>

