<Notification/>
<Nav {segment}/>

<main>
    <slot></slot>
</main>

<noscript>
	Please enable JavaScript.
</noscript>

<script>
import LogRocket from 'logrocket'
import Nav from '../components/Nav.svelte'
import Notification from '../components/Notification.svelte'
import { isProduction } from '../lib/helpers.js'
import '../i18n/i18n.js'

export let segment

if (isProduction()) {
    LogRocket.init('rhmu6e/duobiblo')
}
</script>

<style>
main {
    /* padding: 0em 0.5em 0.5em 1.4em; */
    padding: 8px;
    margin: 0 auto;
    box-sizing: border-box;
}
</style>
