<svelte:head>
	<title>About {DEFAULTS.PROJECT_NAME}</title>
</svelte:head>

<h2>Read different bible translations in parallel</h2>

<p>Choose as many translations as you want and read them side by side.</p>

<h3>Search</h3>

<h4>Chapters and verses</h4>
<p>Enter abbreviations to quickly find a chapter, single verses or verse ranges.</p>
<em>Examples:</em>
<dl>
	<dt>1co3</dt><dd>Find the first chapter of 1. Corinthians</dd>
	<dt>mk1:2</dt><dd>Find the second verse of the first chapter of Mark</dd>
	<dt>mk 1:2-13</dt><dd>Find verses 1 to 13 of Mark 1</dd>
	<dt>Jn3:16;Jn1:8-9</dt><dd>Show John 3, verse 16 and John 1 verse 8 to 9. Several search parts are separated by ';'.</dd>
	<!-- <dt></dt><dd></dd> -->
</dl>

<h4>Full text search</h4>
<p>Enter any text you want to find. Be aware that the search happens on the client without an index so if you have a slow device it might take a while. </p>
<p>When the search is ready the number of found verses will be shown to the right of the search button 🔍.</p>
<p>To save time the search will only happen in the first bible translation you have selected.</p>

<script>
	import { DEFAULTS } from '../lib/params.js'
</script>
