<div>
    {#each Object.entries(bookAbbreviations) as [key, value]}
        <!-- <span id={key} title={t(key)} on:click={onChooseBook}>{value}</span> -->
        {#if value === 'Mt'}
            <div style="width: 100%; height: 2em;"></div>
        {/if}
        <span id={key} title={value} on:click={onChooseBook}>{t(key)}</span>
    {/each}
</div>
<div>
    <button on:click={() => goto('/')}>{t('Abort')}</button>
</div>

<script>
import { goto } from '@sapper/app'
import { bookAbbreviations } from '../lib/params.js'
import { currentBook, clearLastSearch, markedVerses } from '../stores/BibleStore.js'
import { t } from '../i18n/i18n.js'

const onChooseBook = (event) => {
    clearLastSearch()
    currentBook.set(event.target.id)
    markedVerses.set([])
    goto('/chooseChapter')
}
</script>

<style>
div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
span {
    display: flex;
    /* width: 4rem;
    height: 4rem; */
    padding: 0.5em;
    border: 1px solid var(--color-grey-light);
    /* border: 1px solid transparent; */
    align-items: center;
    justify-content: center;
}
span:hover {
    border: 1px solid var(--color-grey-light);
    color: var(--color-1);
}

button {
    margin-top: 1em;
    padding: 0.5em;
    width: 95%;
    max-width: 300px;
}

@media (prefers-color-scheme: dark) {
    div { 
        color: var(--color-grey-light); 
    }
}
</style>
