<div class="chooseTranslation">
    <div class="choices">
        {#each translationsToChoose as t}
            <div class="translation" id={t.value} on:click={onChooseTranslation}>{t.no} {t.label} ({t.value})</div>
        {/each}
    </div>
    <button on:click={() => goto('/')}>{t('Done')}</button>
</div>

<script>
import { onMount } from 'svelte'
import { goto } from '@sapper/app'
import { get } from 'svelte/store'
import { bibleInfos } from '../lib/params.js'
import { currentBibles, translations, markedVerses } from '../stores/BibleStore.js'
import { t } from '../i18n/i18n.js'


$: translationsToChoose = []

onMount(async () => {
    console.log('onMount')
    translations.subscribe($translations => translationsToChoose = availableTranslations($translations))
})

const availableTranslations = ($translations = get(translations)) => {
    if (!$translations || !Object.keys($translations)) return []
    const $currentBibles = get(currentBibles)
    return Object.keys($translations).map(t => {
        const bibleInfo = bibleInfos[t]
        const index = $currentBibles.indexOf(t)
        return {
            value: t, 
            label: bibleInfo && `${bibleInfo.languageOrigName} ${bibleInfo.label}`,
            no: index > -1 ? index + 1 : ''
        }
    })
}

const onChooseTranslation = (event) => {
    let values = get(currentBibles)
    if (values && values.includes(event.target.id)) {
        values = values.filter(i => i !== event.target.id)
    } else {
        if (!values) values = []
        values.push(event.target.id)
    }
    currentBibles.set(values)
    markedVerses.set([])
    translationsToChoose = availableTranslations()
}
</script>

<style>
    .chooseTranslation {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-wrap: wrap;
        width: 100%;
        height: 100%;
    }
    .choices {
        padding: 1em;
        box-shadow: 0px 6px 16px -6px rgba(0, 0, 0, 0.30);
    }

    .translation {
        line-height: 2;
    }
    .translation:hover {
        color: var(--color-1); 
        cursor: pointer;
    }

    button {
        margin-top: 1em;
        width: 100%;
        max-width: 300px;
    }

    @media (prefers-color-scheme: dark) {
        .chooseTranslation { 
            color: var(--color-grey-light); 
        }
    }
</style>
