<div>
    {#each chapters as i}
        <span id={i} on:click={onChooseChapter}>{i} </span>
    {/each}
</div>
<div>
    <button on:click={() => goto('/')}>{t('Abort')}</button>
</div>

<script>
import { goto } from '@sapper/app'
import { books, ICONS } from '../lib/params.js'
import { currentBook, currentChapter, searchResult, markedVerses } from '../stores/BibleStore.js'
import { t } from '../i18n/i18n.js'

let chapters = []

const onChooseChapter = (event) => {
    searchResult.set([])
    currentChapter.set(parseInt(event.target.id, 10))
    markedVerses.set([])
    goto('/')
}

currentBook.subscribe(currentBook => {
    if (currentBook === ICONS.BOOKS) return
    const book = Object.entries(books).find((book => book[0] === currentBook))
    if (!book) return
    chapters = Array(book[1]).fill(1).map((x, y) => x + y)
})
</script>

<style>
    div {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
    }
    span {
        display: flex;
        width: 4rem;
        height: 4rem;
        border: 1px solid var(--color-grey-light);
        /* border: 1px solid transparent; */
        align-items: center;
        justify-content: center;
    }
    span:hover {
        border: 1px solid var(--color-grey-light);
        color: var(--color-1);
    }

    button {
        margin-top: 1em;
        padding: 0.5em;
        width: 95%;
        max-width: 300px;
    }

    @media (prefers-color-scheme: dark) {
        div { 
            color: var(--color-grey-light); 
        }
    }
</style>
