<svelte:head>
	<title>{DEFAULTS.PROJECT_NAME}</title>
</svelte:head>

<BibleReader/>

<script>
import { onMount } from 'svelte'
import { goto } from '@sapper/app'
import BibleReader from '../components/BibleReader.svelte'
import { DEFAULTS } from '../lib/params.js'
import { isOnboarded } from '../lib/helpers.js'
import { translations } from '../stores/BibleStore.js'

let isOnboard
let isMounted = false

onMount(async() => {
// if(!isOnboard) goto('/onboard/step1')
    isOnboard = await isOnboarded()
    isMounted = true
})

$: {
    translations.subscribe($translations => {
        if (isMounted && !isOnboard && (!$translations || !Object.keys($translations).length)) {
            if(!isOnboard) goto('/onboard-1')
        }
    })
}
</script>

<style>
</style>
