<div class="step3">
    <p>{t('onboard.explanation')}</p>
    <ul>
        {#each bibles as bible}
            <li>
                {@html t('onboard.bibleInfo', { ...bible })}
                {#if bible.publisher && bible.publisherLink}
                    {@html t('onboard.thanks', { ...bible })}
                {/if}
            </li>
        {/each}
    </ul>
    <p>{t('onboard.changeExplanation')}</p>

    <button on:click={onLanguageChoosen} disabled={isDownloading}>{t('Continue')}</button>
</div>

<script>
    import { onMount } from 'svelte'
    import { get } from 'svelte/store'
    import { goto } from '@sapper/app'
    import { getBibleForCode } from '../lib/params.js'
    import { downloadTranslations } from '../lib/downloadHelpers.js'
    import { currentBibles } from '../stores/BibleStore.js'
    import { t } from '../i18n/i18n.js'
    
    $: isDownloading = false
    $: bibles = []

    onMount(async () => {
        const $currentBibles = get(currentBibles)
        bibles = $currentBibles.map(getBibleForCode)
    })

    const onLanguageChoosen = async() => {
        if (isDownloading) return
        isDownloading = true
        downloadTranslations($currentBibles)
        isDownloading = false
        goto('/')
    }    
</script>

<style>
    .step3 {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    
    button {
        margin-top: 1em;
        /* background: var(--color-3);
        color: var(--color-grey-light); */
    }

    /* .translations {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        overflow: auto;
        overflow-x: scroll;
        max-height: 50vh;
        text-align: left;
    }
    
    .translations div {
        padding: 3px;
    }
    
    button:hover {
        border: 1px solid var(--color-grey-dark);
    }
    
    
    @media (prefers-color-scheme: dark) {
        button:hover {
            border: 1px solid var(--color-grey-light);
        }
    }
    
    .isDenied, .isPending {
        color: var(--color-grey-light) !important;
        font-size: 90%;
    }
    
    .selected {
        color: var(--color-1) !important;
        font-weight: bold;
    } */
</style>