<div class="step2">
    <h2>{t('What language do you want to learn?')}</h2>

    <input id="filter" placeholder={t('Filter')} bind:value={filter}>
    <div class="translations">
        {#each bibles as bible}
            <div id={bible.code} title="{bible.label} ({bible.code})" on:click={setCurrentBibleCode(bible.code)}>{bible.languageOrigName}</div>
        {/each}
    </div>
    {#if isValidLanguage}
        <button on:click={onLanguageChoosen}>{t('Continue')}</button>
    {/if}
</div>

<script>
import { get } from 'svelte/store'
import { goto } from '@sapper/app'
import { availableBibles, getBibleForLang, getBibleForCode } from '../lib/params.js'
import { downloadTranslations } from '../lib/downloadHelpers.js'
import { currentBibles } from '../stores/BibleStore.js'
import { uiLanguage } from '../stores/UILanguage.js'
import { t } from '../i18n/i18n.js'

let filter = ''
let currentBibleCode
$: isValidLanguage = !!currentBibleCode
// $: isDownloading = false

const currentUILanguage = get(uiLanguage)
$: bibles = availableBibles
    .filter(b => b.isPrimaryLanguageChoice)
    .filter(b => b.lang !== currentUILanguage)
    .filter(b => !filter || b.languageOrigName.toLowerCase().includes(filter.toLowerCase()))

const onLanguageChoosen = () => {
    // if (isDownloading) return
    // isDownloading = true
    const $uiLanguage = get(uiLanguage)
    const bible = getBibleForCode(currentBibleCode)
    const bible1 = getBibleForLang($uiLanguage)
    const keys = Array.from(new Set([ bible.code, bible1.code ])) // make array unique
    currentBibles.set(keys)
    // downloadTranslations(keys)
    // isDownloading = false
    goto('/onboard-3')
}

const setCurrentBibleCode = code => event => {
    currentBibleCode = code
    const options = document.querySelectorAll('.translations div')
    for (const o of options) {
        o.classList.remove('selected')
    }
    event.target.classList.add('selected')
}

</script>

<style>
.step2 {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.translations {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow: auto;
    overflow-x: scroll;
    max-height: 50vh;
    text-align: left;
}

.translations div {
    padding: 3px;
}

button:hover {
    border: 1px solid var(--color-grey-dark);
}

button {
    margin-top: 1em;
    background: var(--color-3);
    color: var(--color-grey-light);
}

@media (prefers-color-scheme: dark) {
    button:hover {
        border: 1px solid var(--color-grey-light);
    }
}

.selected {
    color: var(--color-1) !important;
    font-weight: bold;
}
</style>