<h2>{t('Settings')}</h2>

<label for="isSwipe">{t('Swipe to change chapters?')}</label>
<input type="checkbox" id="isSwipe" bind:checked={$isSwipe}/>

<script>
    import { isSwipe } from '../stores/SettingsStore.js'
    import { t } from '../i18n/i18n.js'

</script>
