{#if show}
    <div>
	{#if showControls}
        <button alt="Slower" title="{t('Slower')}" on:click={slower}>{t('Rate')} ({speakerRate.toFixed(1)}) ▼</button>
        <button alt="Faster" title="{t('Faster')}" on:click={faster}>▲</button>
        <button alt="Lower pitch" title="{t('Lower pitch')}" on:click={lowerPitch}>{t('Pitch')} ({speakerPitch.toFixed(1)}) ▼</button>
        <button alt="Higher pitch" title="{t('Higher pitch')}" on:click={higherPitch}>▲</button>
		<select class="voices" bind:value={currentVoice} title="{t('Voice')}">
			{#each voiceCandidates as voiceCandidate }
				<option key={voiceCandidate.lang} value={voiceCandidate}>{voiceCandidate.name} ({voiceCandidate.lang})</option>
			{/each}
		</select>
        <button alt="Speak" title="{t('Speak')}" on:click={speak}>🔊</button>
        <button alt="Pause" title="{t('Pause')}" on:click={pause}>🔈</button>
        <button alt="Resume" title="{t('Resume')}" on:click={resume}>🔉</button>
        <button alt="Stop" title="{t('Stop / Close')}" on:click={stop}>🔇</button>
	{:else}
        <button alt="Show audio controls" title="{t('Show audio controls')}" on:click={onShowControls}>🔊</button>
	{/if}
    </div>
{/if}

<script>
import { onMount } from 'svelte'
import { get } from 'svelte/store'
import { bibleInfos } from '../lib/params.js'
import { readFromDevice, storeOnDevice } from '../lib/helpers.js'
import { verses, currentBibles, markedVerses, searchResult } from '../stores/BibleStore.js'
import { info } from '../stores/NotificationStore.js'
import { t } from '../i18n/i18n.js'

let voices
$: voiceCandidates = []
let currentVoice
let show = true
export let showControls = false
let speakerRate = 1
let speakerPitch = 1
let versesToRead = []
let isPaused = false

onMount(async () => {
    if (!window.speechSynthesis) {
        show = false
        return console.log('SpeechSynthesis not supported')
    }
    voices = window.speechSynthesis.getVoices()
    setVoiceCandidates(voices)
    const currentVoiceName = await readFromDevice('audio.currentVoiceName')
    currentVoice = voiceCandidates.find(c => c.name == currentVoiceName) || (voiceCandidates && voiceCandidates[0])
    speakerRate = await readFromDevice('audio.speakerRate') || 1
    speakerPitch = await readFromDevice('audio.speakerPitch') || 1

    currentBibles.subscribe($currentBibles => {
        const currentBible = $currentBibles && $currentBibles[0]
        if (!currentBible) return
        const lang = bibleInfos[currentBible].lang
        const newVoice = voiceCandidates.find(c => c.lang == lang) || (voiceCandidates && voiceCandidates[0])
        currentVoice = newVoice
        show = !!newVoice
    })
})

const setVoiceCandidates = voices => {
    const $currentBibles = get(currentBibles)
    const currentBible = $currentBibles && $currentBibles[0]
    const lang = currentBible && bibleInfos && bibleInfos[currentBible].lang
    voiceCandidates = lang && voices.filter(v => v.lang.startsWith(lang)) || []
}

const onShowControls = () => {
    showControls = !showControls
    isPaused = false
}

$: {
    if (versesToRead.length && !isPaused) {
        const verse = versesToRead[0]
        if (verse) {
            speakVerse(verse)
        }	
    }
}

$: currentVoice && storeOnDevice('audio.currentVoiceName', currentVoice.name)
$: speakerRate && storeOnDevice('audio.speakerRate', speakerRate)
$: speakerPitch && storeOnDevice('audio.speakerPitch', speakerPitch)

const speak = () => {
    versesToRead = []
    if (typeof SpeechSynthesisUtterance !== 'undefined') {
        const $markedVerses = get(markedVerses)
        const $currentBibles = get(currentBibles)
        const translationVoices = $currentBibles
            .reduce((memo, code) => {
                const bible = bibleInfos[code]
                memo[code] = voices.filter(v => v.lang.startsWith(bible.lang))[0]
                return memo
            }, {})
        if ($searchResult.length) {
            versesToRead = $searchResult
                .filter(v => Array.isArray(v))
                .map(v => { 
                    const newVerse = v[0]
                    // console.log('newVerse', newVerse)
                    newVerse.t = newVerse.t.replace(/<(\/)?found>/g, '')
                    return newVerse
                })
        } else if ($markedVerses.length) {
            versesToRead = $markedVerses.map(verse => {
                verse.voice = translationVoices[verse.code]
                return verse
            })
        } else {
            versesToRead = get(verses)[0]
                .filter(v => v.t)
                .map(v => { 
                    const newVerse = v
                    newVerse.t = newVerse.t.replace(/<(\/)?found>/g, '')
                    return newVerse
                })
        }
        return versesToRead
    }
}

const trigger = () => versesToRead = versesToRead

const speakVerse = async (verse) => {
    const utterance = new SpeechSynthesisUtterance(verse.t)
    const voice = verse.voice || currentVoice
    if (!voice) return console.log('No voice found')
    // info(`${voice.name} (${voice.lang})`)
    // console.log(`${voice.name} (${voice.lang})`)
    utterance.voice = voice
    if (!verse.voice) {
        // TODO check `createEventDispatcher`
        const event = new Event('verseReading')
        event.verse = verse
        window.dispatchEvent(event)
    }
    utterance.lang = voice.lang
    utterance.rate = speakerRate
    utterance.pitch = speakerPitch
    await new Promise(function(resolve) {
        utterance.onend = resolve
        window.speechSynthesis.speak(utterance)
        // utterance.addEventListener('boundary', function(event) { 
        //     console.log(event)
        // })
    })
    versesToRead.shift()
    setTimeout(trigger, 10) // sometimes reading stops, try to work around this
    
}

const pause = () => {
    isPaused = true
    window.speechSynthesis.pause()
}
const resume = () => {
    isPaused = false
    window.speechSynthesis.resume()
    versesToRead = versesToRead
}
const stop = () => {
    isPaused = true
    versesToRead = []
    window.speechSynthesis.cancel()
    showControls = !showControls
    window.dispatchEvent(new Event('verseReading'))
}
const slower = () => speakerRate = Math.max(0, speakerRate - 0.1)
const faster = () => speakerRate = Math.min(10, speakerRate + 0.1)
const lowerPitch = () => speakerPitch = Math.max(0, speakerPitch - 0.1)
const higherPitch = () => speakerPitch = Math.min(2, speakerPitch + 0.1)

</script>

<style>
div {
    display: flex;
	justify-content: flex-end;
	flex-wrap: wrap;
}
</style>
