{#if $isSearching || !$isLoaded}<img src="/spinner.gif" alt="Spinner"/>{/if}
{#if $searchResult.length}
    <SearchResult/>
{:else}
    <Chapter/>
{/if}

<script>
import { searchResult, isSearching, isLoaded } from '../stores/BibleStore.js'
import Chapter from '../components/Chapter.svelte'
import SearchResult from '../components/SearchResult.svelte'
</script>

<style>
:global(.translation.reading, .reading) {
    color: var(--color-3);
}
</style>
