<svelte:window bind:scrollY={y}/>

<div class="filters">
    <div>
		<button title="{t('Choose translations')}" on:click={navigate('chooseTranslation')}>{($currentBibles && Object.keys($currentBibles).length) ? $currentBibles.join(' ') : ICONS.NO_BIBLES}</button>
		<button title="{t('Choose book')}" on:click={navigate('chooseBook')}>{t($currentBook) || ICONS.BOOKS}</button>
		<button title="{t('Choose chapter')}" on:click={navigate('chooseChapter')}>{$currentChapter || ICONS.CHAPTERS}</button>
	</div>
	<div id="searchArea">
		{#if showSearch}
            <input id="seach" name="search" bind:this={searchText} on:keydown={onSearchKeydown} value=""/>
            <button title="{t('Search')}" on:click={onSearch}>🔍</button>
            <button title="{t('Close search')}" on:click={onHideSearch}>❌</button>
            {#if $fullTextSearchResultCount}
				<small>({formatNumber($fullTextSearchResultCount)})</small>
			{/if}
		{:else}
			<button title="{t('Search')}" on:click={onShowSearch}>🔍</button>
		{/if}
        <AudioPlayer bind:showControls/>
	</div>
</div>

<script>
import { goto } from '@sapper/app'
import { fullTextSearchResultCount, currentBibles, currentBook, currentChapter } from '../stores/BibleStore.js'
import { formatNumber } from '../lib/helpers.js'
import { search, searchResult } from '../stores/BibleStore.js'
import AudioPlayer from '../components/AudioPlayer.svelte'
import { ICONS } from '../lib/params.js'
import { t } from '../i18n/i18n.js'

let showSearch = false
let showControls = false
let searchText

$: {
    if (showControls) {
        showSearch = false
    } 
}

const navigate = target => () => goto(target)

const onSearchKeydown = event => {
    if (event.key === 'Enter') {
        search(searchText)
    }
}

const onSearch = () => search(searchText)
const onShowSearch = () => {
    showSearch = true
    showControls = false
}
const onHideSearch = () => {
    showSearch = false
    searchResult.set([])
}

let y = 0

$: {
    const searchArea = document.getElementById('searchArea')
    if (searchArea && !showControls) {
        const display = y > 50 ? 'none' : ''
        if (searchArea.style.display !== display) {
            searchArea.style.display = display
        }
    }		
}
</script>

<style>
.filters {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
}

div {
	display: flex;
	justify-items: flex-start;
}
#searchArea {
	transition: transform 100ms linear;
    max-height: 2.5em;
}

:global(.filters button) {
    margin: 0 0 1px 1px;
}

</style>

