<svelte:window on:keydown={handleKeydown} on:verseReading={onVerseReading}/>

<div class="translations" transition:fadeIn >
    {#if $verses && isMounted}
        {#each getVerseRange($verses) as verseIndex}
            <div class="verse">
                {#each getTranslationCount($verses) as translationIndex}
                    <div class={getTranslationClass($verses, verseIndex, translationIndex)} on:click={onVerseClick(verseIndex, translationIndex)}>
                        <span class="verseNo">{@html getVerse($verses, verseIndex, translationIndex).n || ''}</span>
                        <span>{@html getVerse($verses, verseIndex, translationIndex).t || ''}</span>
                    </div>
                {/each}
            </div>
        {/each}
    {/if}
</div>
<button class="previous" on:click|preventDefault={previousButton}>◀</button>
<button class="next" on:click|preventDefault={nextButton}>▶</button>

<script>
import { onMount } from 'svelte'
import { get } from 'svelte/store'
import alloyfinger from 'alloyfinger'
import { fadeIn } from '../lib/pageTransition.js'
import { verses, nextChapter, previousChapter, markedVerses, currentBibles } from '../stores/BibleStore.js'
import { isSwipe } from '../stores/SettingsStore.js'
import { range } from '../lib/helpers.js'

let isMounted = false

onMount(async() => {
    const translations = document.getElementsByClassName('translations')
    new alloyfinger(translations && translations[0], {
        swipe: function(event) {
            const $isSwipe = get(isSwipe)
            if ($isSwipe && event.direction === 'Right') previousChapter()
            if ($isSwipe && event.direction === 'Left') nextChapter()
        }
    })
    isMounted = true
})

const getVerseRange = verses => {
    const maxVerses = verses.map(v => v[v.length-1].n).filter(a => a)
    // console.log('verses', verses)
    // console.log('maxVerses', maxVerses)
    if (!maxVerses.length) return []
    const maxVerse = Math.max(...maxVerses)
    // console.log('maxVerse', maxVerse)
    return range(maxVerse)
}
const getTranslationCount = verses => range(verses.length)
const getVerse = (verses, verseIndex, translationIndex) => {
    const translation = verses[translationIndex]
    const verse = translation && translation.find(t => t.n === verseIndex + 1)
    return verse || {}
}

const getTranslationClass = (verses, verseIndex, translationIndex) => {
    const verse = getVerse(verses, verseIndex, translationIndex)
    const $markedVerses = get(markedVerses)
    // console.log('$markedVerses', $markedVerses)
    if ($markedVerses && $markedVerses.indexOf(verse) > -1) {
        return 'translation marked'
    }
    return 'translation'
}

const onVerseClick = (verseIndex, translationIndex) => {
    return // TODO temporarily disable verse marking
    const verse = getVerse($verses, verseIndex, translationIndex)
    let $markedVerses = get(markedVerses)
    if ($markedVerses.includes(verse)) {
        $markedVerses = $markedVerses.filter(item => item !== verse)
    } else {
        verse.code = $currentBibles[translationIndex]
        $markedVerses.push(verse)
    }
    markedVerses.set($markedVerses)
}

const previousButton = () => previousChapter()
const nextButton = () => nextChapter()

// navigation
const handleKeydown = event => {
    // console.log(event.key)
    switch (event.key) {
        case 'ArrowRight': isSwipe && nextChapter(); break;
        case 'ArrowLeft': isSwipe && previousChapter(); break;
        // case 'ArrowDown': speak(); break;
    }
}

const onVerseReading = event => {
    const translationElements = document.querySelectorAll('.reading')
    for (const t of translationElements) {
        t.classList.remove('reading')
    }
    const translationsElement = document.querySelector('.translations')
    if (!event.verse || !translationsElement) return
    let element = translationsElement.children[event.verse.n - 1]
    element = element && element.children[0]
    element && element.classList.add('reading')
    element && element.scrollIntoView({ behavior: 'smooth', block: 'end', inline: 'nearest' })
}
</script>


<style>
.verse {
    display: flex;
}
.verse + .verse {
	margin-top: 0.3rem;
}
.book {
	margin-top: 1rem;
	font-size: 110%;
	font-weight: bold;
}
.translation {
    width: 100%;
}
.verseNo {
	color: var(--color-1);
    font-size: 120%;
    padding-right: 5px;
}
.translation + .translation {
	margin-left: 1em;
}
:global(.translation.marked) {
    background-color: var(--color-grey-light);
    color: var(--color-2);
    padding: 3px;
}
:global(.translation.reading, .reading) {
    color: var(--color-3);
}

.previous {
    position: fixed;
    left: 5%;
    left: 0;
    bottom: 0;
    border: none;
    opacity: 0.7;
}
.next {
    position: fixed;
    bottom: 0;
    right: 5%;
    right: 0;
    border: none;
}

button, button:focus, button:hover {
    background: transparent;
}
</style>
