<svelte:window bind:scrollY={y}/>

<nav class={headerClass}>
{#if show || !isBrowser()}
	<div class="menu" on:click={() => show = !show}>
		<a aria-current='{segment === undefined ? "page" : undefined}' href='.' rel=prerender>{DEFAULTS.PROJECT_NAME}</a>
		<a aria-current='{segment === "installTranslations" ? "page" : undefined}' href='installTranslations' rel=prerender>{t('Install translations')}</a>
		<a aria-current='{segment === "changeLanguage" ? "page" : undefined}' href='changeLanguage' rel=prerender>{t('Change language')}</a>
		<a aria-current='{segment === "settings" ? "page" : undefined}' href='settings' rel=prerender>{t('Settings')}</a>
		<a href='https://www.duobiblo.com/features'>{t('Help / Features')}</a>
		<a style="visibility: hidden;" aria-current='{segment === "onboard" ? "page" : undefined}' href='onboard' rel=prerender>{t('Onboard')}</a>

		<!-- for the blog link, we're using rel=prefetch so that Sapper prefetches
				the blog data when we hover over the link or tap it on a touchscreen -->
		<!-- <a rel=prefetch aria-current='{segment === "blog" ? "page" : undefined}' href='blog'>blog</a> -->
	</div>
{:else}
	<span class="burger" on:click={() => show = !show}>☰</span>
	{#if (segment === undefined) }
		<div>
			<BibleSearch/>
		</div>
	{/if}
{/if}
<a href="/onboard-1"></a>
<a href="/onboard-2"></a>
<a href="/onboard-3"></a>
</nav>

<script>
import BibleSearch from '../components/BibleSearch.svelte'
import { DEFAULTS } from '../lib/params.js'
import { isBrowser } from '../lib/helpers.js'
import { t } from '../i18n/i18n.js'

export let segment
let show = isBrowser() ? false : true

let headerClass = 'show'
let y = 0
let lastY = 0
let tolerance = 0

$: headerClass = updateClass(y)

function updateClass(y) {
    const dy = lastY - y
    lastY = y
    // show if at the top of page
    if (y < 50) return 'show'
    // don't change the state unless scroll delta
    // is above a threshold
    if (Math.abs(dy) <= tolerance) return headerClass
    // if scrolling up, show
    if (dy < 0) return 'show'
    // if scrolling down, hide
    return 'hide'
}

</script>

<style>
nav {
    display: flex;
    justify-content: space-between;
    font-weight: 300;
    padding: 5px;
    position: sticky;
    top: 0;
    z-index: 1000;
    transition: transform 300ms linear;
    background-color: white
}

.show {
    transform: translateY(0%);
}
.hide {
    transform: translateY(-100%);
}
.menu {
    position: static;
    display: flex;
    flex-direction: column;
    z-index: 1000;
}

@media (prefers-color-scheme: dark) {
    nav, :global(nav button) { 
        background: var(--color-grey-dark);
        color: var(--color-grey-light) !important;
    }
}

.burger {
    font-size: 300%;
    line-height: 0.5;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

[aria-current] {
    position: relative;
    display: inline-block;
    font-weight: bold;
}

a {
    text-decoration: none;
    padding: 1em 0.5em;
    padding: 0.5rem;
    font-size: 120%;
    display: block;
}
</style>

