{#if $current.msg}
    <div class="outer">
        <div class="progress" bind:this={progress}></div>
        <div class="msg">{$current.msg}</div>
    </div>
{/if}

<script>
    import { current } from '../stores/NotificationStore.js'

    let progress
    $: {
        if (progress && $current.percent) {
            progress.style.width = `${$current.percent}%`
        }
    }
</script>

<style>
.outer {
    position: absolute;
    position: fixed;
    bottom: 0;
    width: 100%;
    border: 2px solid var(--color-1);
    z-index: 1000;
}
.progress {
    position: absolute;
    position: fixed;
    bottom: 0;
    background: var(--color-1);
}
div {
    position: absolute;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 110%;
    padding-top: 3em;
    padding-bottom: 2em;
}
</style>