<div class="translations" transition:fadeIn >
	{#if $searchResult}
        {#each $searchResult as result}
            <div class="result">
                {#if result.book}
                    <div class="book">{result.book} {result.chapter}</div>
                {:else}
                    <div class="verse">
                        {#each getTranslationRange(result) as translationIndex}
                            <div class="translation">
                                <span class="verseNo">{result[translationIndex].n || ''}</span>
                                <span>{@html result[translationIndex].t || ''}</span>
                            </div>
                        {/each}
                    </div>
                {/if}
            </div>
        {/each}
    {/if}
</div>

<script>
import { fadeIn } from '../lib/pageTransition.js'
import { searchResult } from '../stores/BibleStore.js'
import { range } from '../lib/helpers.js'

const getTranslationRange = translation => {
    // console.log('getTranslationRange', translation)
    return range(translation.length)
}

</script>


<style>
.verse {
    display: flex;
}
.verse + .verse {
	margin-top: 0.3rem;
}
.book {
	margin-top: 1rem;
	font-size: 110%;
	font-weight: bold;
}
.translation {
    width: 100%;
}
.verseNo {
	color: var(--color-1);
    font-size: 120%;
    padding-right: 5px;
}
.translation + .translation {
	margin-left: 1em;
}
:global(found) {
	color: var(--color-3);
	font-weight: bold;
}
</style>
