<div>
    <h2>{t('Translations')}</h2>

    {#if $translations && Object.keys($translations).length}
        <p>
        {#each Object.keys($translations) as code}
            <span>{code}<sup on:click={uninstall(code)}><small>❌</small></sup>  </span>
            {/each}
        </p>
    {/if}

    <input id="filter" placeholder={t('Filter')} bind:value={filter}>
    <div class="translations">
        {#each bibles as bible}
            <button id={bible.code} class={getClass(bible.code)} title="{bible.label} ({bible.code})" on:click={setCurrentBibleCode(bible.code)}>
                {bible.languageOrigName} - {bible.code}
            </button>
        {/each}
    </div>

    <button on:click={download} disabled={isDownloading}>{t('Download')}</button>
</div>

<script>
import { get } from 'svelte/store'
import { availableBibles, getBibleForCode } from '../lib/params.js'
import { notify } from '../stores/NotificationStore.js'
import { translations, markedVerses, currentBibles } from '../stores/BibleStore.js'
import { downloadTranslations } from '../lib/downloadHelpers.js'
import { t } from '../i18n/i18n.js'

let filter = ''
$: lowerCaseFilter = filter.toLowerCase()
let currentBibleCodes = []
$: isDownloading = false
let bibles = []
$: translationKeys = []

const filterBibleCode = (bible, translationKeys) => !translationKeys.includes(bible.code)
const filterBible = (bible, lowerCaseFilter) => {
    if (bible.languageOrigName.toLowerCase().includes(lowerCaseFilter)) return true
    if (bible.label.toLowerCase().includes(lowerCaseFilter)) return true
    if (bible.code.toLowerCase().includes(lowerCaseFilter)) return true
    if (bible.languageOrigName.toLowerCase().includes(lowerCaseFilter)) return true
    return false
}

$: bibles = availableBibles
    .filter(b => filterBibleCode(b, translationKeys))
    .filter(b => filterBible(b, lowerCaseFilter))

$: {
    translations.subscribe($translations => {
        translationKeys = $translations ? Object.keys($translations) : []
    })
}

const download = async () => {
    if (isDownloading) return
    isDownloading = true
    await downloadTranslations(currentBibleCodes)
    markedVerses.set([])
    isDownloading = false
    if (!currentBibleCodes.length) notify({ msg: t('Nothing to do') })
}

const uninstall = code => {
    if (window.confirm(t('confirm.uninstall', { code }))) {
        const newTranslations = get(translations)
        delete newTranslations[code]
        translations.set(newTranslations)
        const newCurrentBibles = get(currentBibles).filter(b => b !== code)
        currentBibles.set(newCurrentBibles)
    }
}

const getClass = code => {
    const bible = getBibleForCode(code)
    if (bible.isFree) return 'isFree'
    if (bible.isLicensed) return 'isLicensed'
    if (bible.isDenied) return 'isDenied'
    return 'isFree'
}

const setCurrentBibleCode = code => event => {
    var index = currentBibleCodes.indexOf(code)
    if(index !== -1) {
        currentBibleCodes.splice(index, 1)
    } else {
        currentBibleCodes.push(code)
    }
    document.getElementById(code).classList.toggle('selected')
}

</script>

<style>
div {
    display: flex;
    flex-direction: column;
    text-align: center;
}
button, button:focus {
    margin-top: 1em;
}
input {
    border-radius: 4px;
    padding: 3px;
}
.translations {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.translations button {
    color: var(--color-1);
    background: transparent;
    margin-right: 6px;
    padding: 3px;
    border: 1px solid var(--color-1);
}
.translations button:hover {
    background: var(--color-1);
    color: var(--color-grey-light);
}
.translations button.selected {
    background: var(--color-3);
    color: var(--color-grey-light);
    font-weight: bold;
}

</style>