:root {
    /* earthy */
    --color-1: #945D60;
    --color-2: #626E60;
    --color-3: #AF473C;
    --color-4: #3C3C3C;
    --color-5: #D5D5D5;
    --color-grey-light: #eee;
    --color-grey-light-c: #ccc;
    --color-grey-dark: #333;
}

body {
    margin: 0;
    padding: 0;
    font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    line-height: 1.5;
    color: var(--color-grey-dark);
    background-color: white;
    overflow-x: hidden;
    width: 100%;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: var(--color-grey-dark);
        color: var(--color-grey-light);
    }
    input {
        background-color: var(--color-grey-dark);
        color: var(--color-grey-light);
        border-color: var(--color-grey-light-2);
    }
    button {
        background-color: var(--color-grey-dark);
        color: var(--color-grey-light);
        border-color: var(--color-grey-light-2);
    }
    select {
        background-color: var(--color-grey-dark);
        color: var(--color-grey-light);
        border-color: var(--color-grey-light-2);
    }

    img, video {
        filter: invert(1) hue-rotate(180deg);
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 0.5em 0;
    font-weight: 400;
    line-height: 1.2;
}

h1 {
    font-size: 2em;
}

a {
    color: inherit;
}

a, a:visited, a:active, a:hover {
    text-decoration: none;
}


/* input, */

textarea,
select,
button,
input,
label {
    font-size: 110%;
	padding: 5px;
    border-radius: 4px;
}

a, a:active, a:focus, button, button:active, button:focus, button::-moz-focus-inner {
    outline: none;
    border: none;
    border: 0;
}

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
	font-size: 1rem;
	display: inline-block;
	padding: 6px 12px;
	text-align: center;
	text-decoration: none;
	white-space: nowrap;
    background-color: transparent; 
    border: 1px solid var(--color-1);
	color: var(--color-1);
	border-radius: 4px;
	box-sizing: border-box;
	cursor: pointer;
}

.button[disabled],
button[disabled],
input[type="submit"][disabled],
input[type="reset"][disabled],
input[type="button"][disabled] {
	cursor: default;
	opacity: .5;
	/* Set the [X] cursor while hovering a disabled link */
	cursor: not-allowed;
}

.button:focus,
.button:hover,
button:focus,
button:hover,
input[type="submit"]:focus,
input[type="submit"]:hover,
input[type="reset"]:focus,
input[type="reset"]:hover,
input[type="button"]:focus,
input[type="button"]:hover {
	background: var(--color-3);
	color: var(--color-grey-light);
}


 @media (pointer: coarse), (hover: none) {
    [title] {
      position: relative;
      display: inline-flex;
      justify-content: center;
    }
    [title]:focus::after {
      content: attr(title);
      position: absolute;
      top: 90%;
      color: var(--color-grey-dark);
      background-color: var(--color-grey-light);
      border: 1px solid;
      width: fit-content;
      padding: 3px;
    }
}
